.bodygreen{
    background-color:#19E68C ;
   
    height: 650px;
    width: 100%;
}
.micro{
    height: 110px;
}
.btnmicro{
    margin-top: 200px;
    background: none;
    border: none;
}
.micro:hover{
    margin-top: -5px;
}

.oneacc{
    background-color: #222326;
    height: 400px;
    width: 100%;
}
.comp{
    height: 180px;
}
.tr{
    position: relative;
    top: 60px;
}
li{
    padding: 20px !important;
}

.footer {
    background-color: black;
    color: white;
    padding: 30px 0;
  }
  
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    
  }
  
  .footer-item {
    padding: 10px;
  }
  
  .nobull {
    list-style: none;
  }
  
  .footer-link,
  .footer-social-link,
  .footer-menu-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover,
  .footer-social-link:hover,
  .footer-menu-link:hover {
    color: rgb(3, 175, 3);
  }
  
  .footer-social ul,
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-menu ul {
    font-size: 12px;
    margin-top: 20px;
  }
  
  .footer-social ul li,
  .footer-menu ul li {
    margin-right: 20px;
  }
  
  .footer-bottom {
    text-align: right;
    margin-top: 20px;
    margin-right: 400px;
  }